*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
}
body, html{
    height: 100%;
    display: flex;
    flex-direction: row-reverse;
    float: left;
}
a{
    text-decoration: none;
    color: rgb(73, 73, 127);
}
a:visited{
    color: rgb(73, 73, 127);
}
ul{
    list-style-type: none;
}
div.blind{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 3px solid black;
    margin: 0 1rem;
}
div.container_side_bar{
    background-color: #efaa81;
    width: 20vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
div.container_side_bar img{
    width: 20vw;
    height: 40vh;
}
div.container_side_bar > .profession{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
}
.profission p{
    text-align: start;
    hyphens: auto;
    font-size: 12pt;
    padding: 0.5rem;
    margin: 0 1rem;
}
div.profission h2{
    padding: 0.5rem;
    margin: 0 1rem;
    font-size: 18pt;
    text-align: center;
    font-weight: 800;
}
div.container_side_bar .profession h2{
    font-size: 14pt;
}
.main_profile_candidate{
    display: flex;
    justify-content: center;
}
.main_profile_candidate{
    width: 80vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border-bottom: 3px solid black;
    padding-left: 1rem;
}
.professional_experience{
    width: 80vw;
    display: flex;
    flex-direction: column;
    border-bottom: 3px solid black;
}
div.name{
    width: 80vw;
    border-bottom: 3px solid black;
}
section.graduate{
    width: 80vw;
    border-bottom: 3px solid black;
}
div.contacts{
    border-bottom: 3px solid black;
}
div.languages{
    text-align: justify;
    font-size: 12pt;
    padding: 0.5rem;
}